<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/head.ejs') %>

<body>
  <div class="cardContainer">

    <h1>COURSE</h1>
    <h2><%= course.coursename %></h2>
  <h2>Course Description</h2>
  <p><%= course.description %></p>
  <p class="m-t-2"><b>Subject Area: </b><%= course.subjectarea %></p>
  <p><b>Credit Hours: </b><%= course.credithours %></p>

  <p class="m-t-2">Edit/Update Course functionality coming soon!</p>
  <div class="btnContainer">
    <button id="allBtns" class="edit" data-doc="<%= course._id %>">Edit "<%= course.coursename %>"</button>
    <button id="allBtns" class="delete" data-doc="<%= course._id %>">Delete "<%= course.coursename %>"</button>
  </div>
</div>

  <!-- Nav -->
  <%- include('../partials/nav.ejs') %>

  <!-- For some reason, the script causes loading issues with this page
  <script src="js.js"></script>
  So, the script has been attached to the HTML/EJS instead
  -->

  <script>
    // for nav
    var app = document.querySelector('.app')
    var prevScrollPos = window.pageYOffset

    window.onscroll = function(){
        var currentScrollPos = window.pageYOffset
        if (prevScrollPos > currentScrollPos) {
            app.style.top = "0"
        } else {
            app.style.top = "-10rem"
        }
        prevScrollPos = currentScrollPos
    }
    // Client-side JS for Handling DELETE of Individual/Selected Course
    const deleteButton = document.querySelector('button.delete');

    deleteButton.addEventListener('click', (e) => {
      const endpoint = `/courses/${deleteButton.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
      .then((response) => response.json())
      .then((data) => window.location.href = data.redirect)
      .catch((err) => {
        console.log(err);
      });
    })
  </script>
</body>

</html>
