<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/head.ejs') %>

<body>
  <br>
  <br>
  <br>
  <h1>Edit "<%= course.coursename %>"</h1>
  <p>Under construction... please mind our dust!</p>

  <h2>Current Course Information</h2>
  <p><b>Course Name: </b><%= course.coursename %>"</p>
  <p><b>Description: </b><%= course.description %></p>
  <p><b>Subject Area: </b><%= course.subjectarea %></p>
  <p><b>Credit Hours: </b><%= course.credithours %></p>

  <br>
  <br>
  <h2>Your Edit:</h2>
  <p>Update the values that you would like to change, and click "Edit Course" when you are finished.</p>
  <p><i>Functionality is a work-in-progress!</i></p>
  <div class="editcourse form">
    <form action="/courses" method="PUT">
      <label for="coursename">Course Name: </label>
      <input type="text" id="coursename" name="coursename">
      <label for="description">Description: </label>
      <textarea id="description" name="description"></textarea>
      <label for="subjectarea">Subject Area: </label>
      <input type="text" id="subjectarea" name="subjectarea">
      <label for="credithours">Credit Hours: </label>
      <input type="number" id="credithours" name="credithours" min="1" max="12">
      <button>Edit Course</button>
    </form>
  </div>

  <!-- Nav -->
  <%- include('../partials/nav.ejs') %>

  <script src="js.js"></script>

</body>

</html>
